*{
    margin: 5px;
    box-sizing: border-box;

}

body{
    background:#34e7e4;
    font-family:;
    text-align: center;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

header{
    background: #3c40c6;
    padding: 2em 0 2em 0;

}

.left{
    background: #3c40c6;
    padding: 3em 0 3em 0;
}

main{
    background: #3c40c6;
    padding: 3em 0 3em 0;
}

.right{
    background: #3c40c6;
    padding: 3em 0 3em 0;
}

footer{
    background: #3c40c6;
    padding: 2em 0 2em 0;

}
